<div>
  <%= _article.content %> |
  <%= link_to 'View', _article %>
  <% children = _article.children.order('priority ASC') %>
  <% if children.length > 0 %>
    <ul class="tree">
      <%= render children %>
    </ul>
  <% end %>
</div>