<div>
  <%= _article.content %>
  <%= render 'menu', _article: _article %>
  <% children = _article.children.order('priority ASC') %>
  <% if children.length > 0 %>
    <ul class="tree">
      <%= render children %>
    </ul>
  <% end %>
</div>