// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tree > li {
  list-style-type: none;
  margin: 0;
  padding: 5px 5px 0 5px;
  position: relative;
}
.tree > li::before {
  border-left: 1px solid #999;
  bottom: 50px;
  height: 100%;
  top: 0;
  width: 1px;
}
.tree > li::before, .tree > li::after {
  content: '';
  left: -20px;
  position: absolute;
  right: auto;
}
.tree > li::after {
  border-top: 1px solid #999;
  height: 20px;
  top: 16px;
  width: 25px;
}
.icon-plus, .icon-minus {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  float: left;
  margin: 3px 5px 0 0;
}
.icon-plus {
  background: url("/images/plus.svg") no-repeat;
}
.icon-minus {
  background: url("/images/minus.svg") no-repeat;
}
